<{{ widget.tag }}{{ html.renderTagAttributes(widget.options) }}>{% if widget.link %}<a href="{{ widget.link }}" target="_blank" title="The file is {{ widget.size }}">{{ widget.value }}</a>
{% else %}{{ widget.value }}{% endif %}</{{ widget.tag }}>