<{{ widget.tag }} id="{{ widget.id }}" {{ html.renderTagAttributes(widget.options) }}>
    {% set label %}
    <label {% if widget.tooltip.enabled %}data-toggle="tooltip" data-placement="{{ widget.tooltip.placement }}" title="{{ widget.tooltip.content }}"{% endif %}>{{ widget.field.label }}{{ widget.label.postFix }}</label>
    {% endset %}
    {{ t.renderTwig(widget.template, {
	    "widget": arrayhelper.merge(widget, {
            "label": label,
            "value": widget.content
        })
    }) }}
</{{ widget.tag }}>