<{{ widget.tag }} id="{{ widget.id }}" {{ r.helpers.Html.renderTagAttributes(widget.options) }}>
    {% set form = t.getWidget("yii.widgets.ActiveForm") %}
    {% set form = form.begin({
        "id": "form-" ~ widget.id,
        "options": widget.form.options,
        "method": "GET",
        "enableClientValidation": false
    }) %}
    <div class="col-md-12">
        <div class="panel panel-default" id="{{ widget.id }}" style="clear: both">
            <div class="panel-heading">
                Filter {{ widget.model.getModelConfig("labelPlural") }}
                <{{ widget.clear.tag }} href="{{ widget.clear.url }}" {{ r.helpers.Html.renderTagAttributes(widget.clear.options) }}>{{ widget.clear.label }}</{{ widget.clear.tag }}>
            </div>
            <div class="panel-body">
                {% for attribute in widget.model.activeAttributes() %}
                {% if loop.index % widget.row.limit == 1 %}
                <{{ widget.row.tag }} {{ r.helpers.Html.renderTagAttributes(widget.row.options) }}>
                {% endif %}
                    <{{ widget.container.tag }} {{ r.helpers.Html.renderTagAttributes(widget.container.options) }}>
                        {{ t.renderWidget('mozzler.base.widgets.model.filter.RenderField', {
            				'form': form,
            				'model': widget.model,
            				'attribute': attribute
            			}) }}
                    </{{ widget.container.tag }}>
                {% if loop.index % widget.row.limit == 0 or loop.last %}
                </{{ widget.row.tag }}>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% set form = form.end() %}
</{{ widget.tag }}>